.cardlist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}

.card {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 5%;
  border-color: black;

  height: 200px;
  padding: 10px;
}

.que {
  background-color: gray;
}

.ans {
  background-color: red;
  color: white;
}
